.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  // padding: 1rem 2rem;
  @media only screen and (max-width: $bp_tiny) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &-logo {
    height: 4rem;
    margin-left: 1.5rem;
    @media only screen and (max-width: $bp_tiny) {
      margin-right: auto;
    }
  }

  &__input-box {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp_tiny) {
      order: 1;
      width: 100%;
      justify-content: center;
      background-color: #e6e2e2d8;
    }
  }

  &-input {
    width: 40rem;
    height: 3.5rem;
    border-radius: 100px;
    padding: 1rem 2rem;
    border: none;
    background-color: #e6e2e2d8;
    transition: all 0.4s;

    @media only screen and (max-width: $bp_tiny) {
      width: 50rem;
      justify-content: center;
    }

    &::placeholder {
      font-style: inherit;
      color: #77777793;
    }

    &:focus {
      outline: none;
      width: 45rem;
    }
  }

  &__search-icon {
    height: 2rem;
    width: 2rem;
    fill: #888;
    margin-left: -3.5rem;
  }

  &__user-box {
    display: flex;
    align-self: stretch;
    & > *:hover {
      background-color: #777;
    }
  }

  .icon-bookmark,
  .icon-chat {
    height: 2.5rem;
    width: 2.5rem;
  }

  .icon-box {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-info {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;

    .user-name {
      font-size: 1.4rem;
      margin-left: 1rem;
    }
  }

  .user-img {
    height: 4rem;
    border-radius: 50%;
  }

  .num-count {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #ff3366;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1.5rem;
    right: 0;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp_small) {
    flex-direction: column;
  }

  .sidebar {
    background-color: #333;
    // height: 100rem;
    color: white;
    font-size: 1.6rem;
    padding-top: 4rem;
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp_small) {
      padding: 0;
    }

    @media only screen and (max-width: $bp_small) {
      flex-direction: row;
    }

    & > * {
      display: flex;
      margin-bottom: 0.4rem;
      padding: 1rem 3rem;
      gap: 2rem;
      position: relative;
      cursor: pointer;

      @media only screen and (max-width: $bp_small) {
        flex: 1;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
      }
    }

    & > *:first-child {
      background-color: #ff3366;
    }

    & > *::before {
      content: "";
      width: 0.3rem;
      height: 100%;
      background-color: #ff3366;
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-block;
      transform-origin: center;
      transform: scaleY(0);
      transition: transform 0.3s, width 0.3s 0.3s;
    }

    & > .copyright::before {
      width: 0;
      height: 0;
    }

    & > *:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    & > .copyright:hover::before {
      width: 0;
      transform: none;
    }

    & > * p {
      z-index: 100;
    }

    svg {
      fill: white;
      height: 2rem;
      width: 2rem;
      // margin-right: 40rem;
    }

    .copyright {
      text-align: center;
      margin: 0;
      padding-bottom: 3rem;
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: auto;
      color: rgba(255, 255, 255, 0.555);
      justify-content: center;
      cursor: default;

      @media only screen and (max-width: $bp_small) {
        display: none;
      }
    }
  }

  .img-container {
    display: flex;
  }

  .gallery {
    width: 33.333%;
    display: block;
  }
}

.overview-heading {
  background-color: white;
  display: flex;
  align-items: center;

  .header-sec {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #aaa;
    margin: 0 3rem;
  }

  .stars {
    display: flex;
    margin-right: auto;
  }

  .star,
  .location-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
  }

  .location {
    display: flex;
    margin-right: 2rem;

    @keyframes pulsate {
      0% {
        transform: scale(1);
        box-shadow: none;
      }

      50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.425);
      }

      100% {
        transform: scale(1);
        box-shadow: none;
      }
    }
  }

  .vote-box {
    align-self: stretch;
    padding: 1.2rem 1.8rem;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .vote-rating {
      font-size: 2.8rem;
      font-weight: 300;
      line-height: 1;
    }

    .vote-num {
      font-size: 0.8rem;
      line-height: 1;
    }
  }
}

.btn {
  border: none;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  transition: all 0.3s infinite;
  padding-bottom: 0.2rem;
  background: none;
  align-self: center;
}

.btn:hover {
  color: #777;
}

.btn:focus {
  outline: none;
  background-color: white;
  animation: pulsate 1s infinite;
}

.main-view {
  flex: 1;
  background-color: white;
}

.main-content {
  padding: 4rem;
  background-color: #eeeeee80;
  display: flex;
  gap: 4rem;

  @media only screen and (max-width: $bp_small) {
    gap: 2.5rem;
    padding: 2.5rem;
  }

  @media only screen and (max-width: $bp_tiny) {
    flex-direction: column;
  }

  .main-box {
    background-color: white;
    padding: 3rem;
    font-size: 1.5rem;
    color: #777;
    flex: 0 0 62%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.425);

    @media only screen and (max-width: $bp_small) {
      padding: 2rem;
    }
  }

  .main-text p:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .main-text {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2.5rem;
  }

  .list-box {
    padding: 3rem 0;
    border-bottom: 1px solid #ccc;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;

    li {
      width: 45%;
    }
  }

  ul li::before {
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    margin-right: 0.7rem;

    // background-image: url(../img/chevron-thin-right.svg);
    // background-size: cover;

    background-color: var(--color-primary);
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
  }

  .recommendations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;

    .recommendations-text {
      flex: 1 0;
    }

    .recommendations-gallery img {
      height: 5rem;
      border-radius: 50%;
      border: 3px solid white;
      flex: 1 0;

      &:not(:last-child) {
        margin-right: -2rem;
      }
    }
  }
}

.testimonies {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;

  & > *:not(:last-child) {
    background-color: white;
  }

  .testimony {
    padding: 3rem;
    font-size: 1.45rem;
    color: #777;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.425);
    position: relative;
    overflow: hidden;

    &-text {
      position: relative;
      z-index: 10;
    }

    &::before {
      content: "\201C";
      font-size: 20rem;
      line-height: 1;
      position: absolute;
      top: -2.7rem;
      left: -1rem;
      z-index: 1;
      color: #7777773a;
    }

    .author-box {
      display: flex;
      margin-top: 2rem;
      align-items: center;
    }

    .author-img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      margin-right: 1.1rem;
    }

    .author-name {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1rem;
    }

    .pub-date {
      font-size: 1rem;
    }

    .author-rating {
      margin-left: auto;
      font-size: 2rem;
      color: var(--color-primary);
    }
  }

  .btn {
    font-size: 1.5rem;
    margin-top: auto;
    transition: all 0.5s;

    &:hover .btn-arr {
      margin-left: 0.5rem;
    }
  }
}

.footer {
  padding: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #777;

  &-btn {
    color: white;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    margin-top: 2rem;
    // width: 20rem;
    // height: 4rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .btn-span {
      width: 100%;
      height: 100%;
      display: inline-block;
      transition: all 0.3s;
    }

    .visible {
      padding: 1.5rem 6rem;
    }

    .invisible {
      position: absolute;
      left: 0;
      top: -100%;
      padding: 1.5rem 1rem;
    }

    &:hover {
      background-image: linear-gradient(
        to left,
        var(--color-primary-light),
        var(--color-primary-dark)
      );
    }

    &:hover .visible {
      transform: translateY(100%);
    }

    &:hover .invisible {
      top: 0;
    }

    &:focus {
      animation: pulsate 0.5s infinte;
    }

    @keyframes pulsate {
      0% {
        transform: scale(1);
        box-shadow: none;
      }

      50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.425);
      }

      100% {
        transform: scale(1);
        box-shadow: none;
      }
    }
  }
}
